server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    username: authdb
    password: password
    url: jdbc:postgresql://localhost:5433/postgres
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: "ThisIsSecretOfTheToken"
  access-expiration: 90000
  refresh-expirations: 1296000000