server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    username: user
    password: password
    url: jdbc:postgresql://localhost:5433/authdb
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: "ThisIsSuperMegaSecretKeyForJwtTokenGeneration1234567890"
  access-expiration: 90000
  refresh-expiration: 1296000000